.running-text {
    display: grid;
    background-color: var(--main-color);
    color: var(--platzwunde-color);
    font-weight: 500;
    padding: 3px 0;
    font-size: 1.5rem;
    top: 0;
    width: 100%;
}

.running-text__marquee {
    grid-column: 1;
    grid-row: 1;
    white-space: nowrap;
    overflow: hidden;
}

.running-text__marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

.running-text__marquee:last-child span {
    animation-delay: 5s; /* half of full animation time */
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}