header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 90;

    img {
        filter: brightness(50%) sepia(100) saturate(100) hue-rotate(50deg);
    }
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

.header__wrapper > div {
    flex-basis: 33.3%;
}

.header__simple-logo {
    width: 250px;
}

.header__vienna-logo {
    width: 50px;
}

.header__social-logo {
    width: 35px;
}

.header__side {
    display: flex;
    gap: 25px;
}

.header__side--left {
    justify-content: flex-start;
}

.header__side--right {
    justify-content: flex-end;
}

@media only screen and (max-width: 480px) {
    .header__simple-logo {
        width: 200px;
    }

    .header__vienna-logo {
        width: 30px;
    }

    .header__social-logo {
        width: 20px;
    }

    .header__side {
        gap: 10px;
    }
}